# jupyter
ipykernel
nbconvert
ipywidgets
tqdm

#standard
numpy
pandas

# plotting
matplotlib
plotly
graphviz

# environment variables
python-dotenv

# linting
pre-commit

# process mining
pm4py
networkx

# backend
fastapi
python-multipart
uvicorn
