html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Allow vertical scrolling */
}

#root {
  width: 100%; /* Full width */
  max-height: 100vh; /* Allow scrolling if content exceeds viewport height */
  padding: 2rem; /* Adjust padding as needed */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Grid */
.input-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  width: 100%; /* Full width */
}

.grid-item {
  border: 1px solid #ccc; /* Optional border */
  padding: 15px;
  border-radius: 8px; /* Rounded corners */
}

h3 {
  margin-bottom: 10px;
}

/* Spacing adjustments for algorithm inputs */
.grid-item label {
  display: block;
  margin: 10px 0; /* Space between inputs */
}

/* Table */
.conformance-area {
  margin: 20px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Merge borders */
}

th, td {
  padding: 12px; /* Spacing inside cells */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #ddd; /* Divider between rows */
}

th {
  background-color: #e0e0e0; /* Softer header background color */
  color: #333; /* Darker text color for better contrast */
}

tr:hover {
  background-color: #e0e0e0; /* Softer header background color */
}

tbody tr:last-child td {
  border-bottom: none; /* Remove border from the last row */
}

/* Divider */
.divider {
  height: 1px; /* Height of the divider */
  background-color: white; /* Color of the divider */
  margin: 20px 0; /* Space around the divider */
  width: 100%; /* Make the divider span the full width */
}

/* Footer */
.footer {
  background-color: #333; /* Dark background */
  color: white; /* White text */
  text-align: center; /* Centered text */
  padding: 1rem; /* Padding */
  position: relative; /* Position relative to the page */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Full width */
}

.footer a {
  color: #61dafb; /* Light blue link color */
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover */
}
